<footer class="page-footer border-top bg-white">
  <div class="container">
    <div class="row py-4 d-flex align-items-center">
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0"><small class="text-muted"><i class="far fa-copyright"></i> 2019 Copyright:</small> <a class="dark-grey-text" href="{{site.url}}"> {{ site.title | escape }}</a>  - <a href="{{site.policy_url}}">Privacy Policy</a></h6>
      </div>
      <div class="col-md-6 col-lg-7 text-center text-md-right">
        <div class="post-shares btn-group-shares">
          <!-- TODO: Load from data file -->
          <a target="_blank" href="{{site.facebook_link}}" class="ic-fb"><i class="fab fa-facebook-f"></i></a>
          <a target="_blank" href="https://www.instagram.com/{{site.instagram_username}}" class="ic-ins"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="{{site.youtube_link}}" class="ic-yt"><i class="fab fa-youtube"></i></a>
          <a target="_blank" href="https://twitter.com/{{site.twitter_username}}" class="ic-tw"><i class="fab fa-twitter"></i></a>
          
          <!-- <a target="_blank" href="#" class="ic-gp"><i class="fab fa-google-plus-g"></i></a> -->
          <!-- <a target="_blank" href="#" class="ic-pi"><i class="fab fa-pinterest-p"></i></a> -->
          <!-- <a target="_blank" href="#" class="ic-in"><i class="fab fa-linkedin-in"></i></a> -->
          <a target="_blank" href="mailto:{{site.email}}" class="ic-def"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>