.post-wrapper { margin-top: -170px; }

.category {
  a {
    color: #999;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    &:hover { color: #000 }
    &::after { content: ','; color: #ddd; display: inline-block; margin-right: 5px }
    &:last-of-type::after { display: none; }
  }
}

.post {
  .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa
  }
  .avatar { max-width: 40px; min-width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin-right: 10px }
  .title, .date, .comments, .views { font-weight: 400; color: #999; text-transform: capitalize }
  .title i, .date i, .comments i, .views i { margin-right: 5px; font-size: 1.1em }
  .title::after, .date::after, .comments::after, .views::after { content: '|'; display: inline-block; margin: 0 7px; font-size: 0.9em; color: #ccc }
  .meta-last::after { display: none }
  .post-tags {
    margin-top: 30px;
    .tag {
      padding: 5px 25px;
      border: 1px solid #ddd;
      margin: 5px;
      color: #777;
      font-size: 0.75em;
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      border-radius: 50px;
      &:hover { background: #999; color: #fff; border-color: #999 }
    }
  }
}

blockquote.blockquote {
  font-size: 1.05em;
  line-height: 1.7em;
  border-color: #999;
  border: 1px solid #eee;
  border-left: 6px solid #eee;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;
  p { margin-bottom: 15px !important }
}



.blog-post {
  padding-left: 0; padding-right: 0;
  .post-footer { font-size: 0.8em; margin-top: 20px; }
  .post-thumbnail img { width: 100%; margin-bottom: 10px }
  h1 {
    color: #444; line-height: 1.1em;
    &:hover { color: #444; }
  }
  .post-body {
    margin-top: 40px;
    h2 { color: #333; }
    p { margin-bottom: 30px }
    p:not(.lead) { font-size: 1.25rem; line-height: 2rem; color: rgb(31, 29, 29) }
    .blog-post {
      h3, h4, h5, h6 { color: #333; }
    }
  }
  .posts-nav {
    margin-top: 50px; color: #777; font-size: 0.8em;
    a {
      color: inherit; width: calc(50% - 10px); padding: 10px 20px; border: 1px solid #eee; margin-bottom: 15px;
      &:hover {
        border-color: #999;
        .icon { background: #999; color: #fff; border-color: #999; }
      }
    }
  }
  .icon {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 32px;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    &.prev { margin-right: 20px }
    &.next { margin-left: 20px }
  }

}

